meta(charset="UTF-8")
meta(name="viewport", content="width=device-width,initial-scale=1")
title Event Management System
link(rel="stylesheet", href="styles.css")
script(src="scripts.js", defer)
header
  h1 Event Management System
  nav
    ul
      li
        a(href="home.html") Home
      li
        a(href="events.html") Events
      li
        a(href="about.html") About
      li
        a(href="contact.html") Contact
main
  section.featured-events
    h2 Featured Events
    .event-card
      img(src="img/img1.jpg", alt="Event 1")
      h3 Event 1
      p Date: 02/20/2024
      p Location: Dododma
      button Learn More
    .event-card
      img(src="img/img2.jpg", alt="Event 2")
      h3 Event 2
      p Date: 03/18/2024
      p Location: Dar es salaam
      button Learn More
  section.upcoming-events
    h2 Upcoming Events
    .event-card
      img(src="img/img3.jpg", alt="Event 3")
      h3 Event 3
      p Date: 2/15/2024
      p Location: Arusha
      button Learn More
    .event-card
      img(src="img/img4.jpg", alt="Event 4")
      h3 Event 4
      p Date: 2/20/2024
      p Location: Dar es salaam
      button Learn More
footer(style="text-align: center;")
  p © 2024 Event Management System. All rights reserved.